body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #41beb7; /* Colorful background */
    color: white;
    text-align: center;
}

.intro-section h1 {
    margin: 10px 0;
}

.intro-section p {
    margin-top: 10px;
    width: 60%;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0; /* Simpler color for the bottom section */
}

.project {
    width: 30%;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h2 {
    color: #333;
    margin-top: 0;
}

.project p {
    color: #666;
}

@media screen and (max-width: 600px) {
    .project {
        width: 100%;
    }

    .intro-section p {
        width: 80%;
    }
}
