body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-family: inherit;
}

.nav-link {
    padding: 10px;
    color: black;
    text-decoration: none;
    margin-left: 10px; /* Spacing between links */
}

.nav-link:hover {
    color: #40e0d0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #dddddd;
    color: #000000;
    text-align: center;
}

.intro-section h1 {
    margin: 10px 0;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 800;
}

.intro-section p {
    margin-top: 10px;
    color: #333;
    font-size: 2.2rem;
    width: 100%;
    line-height: 1.6;
}

.about-section{
    margin: 8rem; /* Space outside each section */
    height: 100vh;
    text-align: center;
}

.about-section h2 {
    margin: 10px 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 800;
}

.about-section p {
    margin-top: 10px;
    color: #000000;
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.6;
}

.portfolio-section {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff; /* Simpler color for the bottom section */
}

.portfolio-section h2 {
    margin: 10px 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 800;
    text-align: center;
}

.project {
    width: 30%;
    margin: 10px;
    border: 1px solid #40e0d0;
    padding: 15px;
    background-color: #40e0d0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h2 {
    color: #333;
    margin-top: 0;
}

.project p {
    color: #666;
}

.contact-section{
    height: 100vh;

}

.contact-section h2 {
    margin: 10px 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 800;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .project {
        width: 100%;
    }

    .intro-section p {
        width: 80%;
    }
}
